body{
    text-align: center;
    background: url(img/registro.jpg);
    background-size: 150%;
}

.parrafo{
    margin: 5px;
    display: table-cell;
    padding: 5px;
    text-align:left;
    
}

.parrafo1{
    margin: 5px;
}

.parrafo2,.parrafo3,.parrafo4,.parrafo5,.parrafo6,.parrafo7,.parrafo8{
    margin: 5px;
}

select{
    padding:5px 10px;
    border-radius: 3px;
    display: inline-block;

}

input{
    padding:5px 10px;
    border-radius: 3px;
    display: inline-block;
}

button{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 42%;
    padding: 5px; 
}

