<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='estilo.css')}}">
    <title>Dashboard SuperAdministrador</title>
</head>
<body>
    <header>
        <h1><span style="color: white;">B</span>a<span style="color: white;">ll</span>y</h1>
        <nav>          
            <ul class="Menu-SuperAdministrador">
                <li>
                    <a href="#">SuperAdministrador</a>
                    <ul class="MenuVertical-SuperAdministrador">
                        <li><a href="#">Usuario SuperAdministrador</a></li>
                        <li><a href="#">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>  
    </header>
    <div class="MenuDeGestion">
        <h2>MENU</h2><img class="Logo" src="{{url_for('static',filename='imgs/barra.png')}}" alt="Logo de bally">
        <ul>
            <h3>Registro:</h3>
            <ul class="MenuRegistro">
                <li><a href="/Resgistro_Administrador">Administrador</a></li>
                <li><a href="/Registro_Usuario">Usuario</a></li>
            </ul>
            <h3>Atualizacion de Datos:</h3>
            <ul class="MenuActualizacionDatos">
                <li><a href="/Gestion_Admin">Administrador</a></li>
                <li><a href="/Gestion_Usuario">Usuario</a></li>
            </ul>
            <h3>Gestion de Productos:</h3>
            <ul class="MenuActualizacionDatos">
                <li><a href="/Gestion_Productos">Porductos</a></li>
            </ul>
        </ul>
    </div>  
    <main>
        <h1 style="color: white;">Dashboard</h1>
        <aside>
            <!--<p style="color: white;">Aside</p>-->
            <div class="Div1">
               <!--<ps style="color: white;">Div #1</p>-->
                <img src="{{url_for('static',filename='imgs/Producto.png')}}" alt="">
                <img src="{{url_for('static',filename='imgs/Pedido.png')}}" alt="">               
            </div>   
            <div class="Div2">
                <!--<p style="color: white;">Div #2</p>-->
                <img src="{{url_for('static',filename='imgs/Usuario_dashboard.png')}}" alt="">
                <img src="{{url_for('static',filename='imgs/Cliente.png')}}" alt="">
            </div> 
            <div class="Div3">
                <!--<p style="color: white;">Div #3</p>-->
                <img src="{{url_for('static',filename='imgs/Pagos.png')}}" alt="" width="500">
            </div> 
            <div class="Div4">
                <!--<p style="color: white;">Div #4</p>-->
                <img src="{{url_for('static',filename='imgs/UltimoPedido.png')}}" alt="" width="500">
            </div> 
            <div>

            </div>
        </aside>
    </main>
    <footer>

    </footer>
</body>
</html>