<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/Bally-logo2.ico">
    <link rel="stylesheet" href="EstiloIndex.css">
    <title>Bienvendios a BALLY</title>
</head>

<body>

    <nav class="navegacion">
        <ul>
            <li id="Inicio">
                <a href=""><img src="../img/Bally-logo.jpg" width="130" height="30"></a>
            </li>
            
            <li id="Buscador">
                <input type="text" placeholder="Buscar" required>
                <div class="boton">
                    <img src="../img/Buscador.png" width="20" height="20">
                </div>
            </li>

            <li id="Mujeres"><a href="">MUJERES</a>
                <ul class="OpcionesM">
                    <li><a href="">ZAPATOS</a></li>
                    <li><a href="">BOLSOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PRÊT-À-PORTER</a></li>
                </ul>     
            </li>

            <li id="Hombres"><a href="">HOMBRES</a>
                <ul class="OpcionesH">
                    <li><a href="">ZAPATOS</a></li>
                    <li><a href="">BOLSOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PRÊT-À-PORTER</a></li>
                </ul>   
            </li>

            <li id="Usuario">
                <a href=""><img src="../img/Usuario.png" width="20" height="20"></a>
            </li>
            <li id="Administracion">
                <a href=""><img src="../img/Administrador.png" width="20" height="20"></a>
            </li>
        </ul>
    </nav>

    <section class="SeccionImagenes">
        <ul>
            <section class="Imagen1">
                <img src="../img/Imagenmov1.jpg" width="1100" height="500" alt="">
                <p class="TextoImg1">Diseñamos moda funcional que rompe los limites <br>
                    de lo establecido
                </p>
            </section>
    
            <section class="Imagen2">
                <img src="../img/Imagenmov2.jpg"width="1100" height="500" alt="">
                <p class="TextoImg2">Mostramos autentica meneración por el medio <br>
                    ambiente y su naturaleza
                </p>
            </section>
    
            <section class="Imagen3">
                <img src="../img/Imagenmov3.jpg" width="1100" height="500" alt="">
                <p class="TextoImg3">Nuestros productos han encontrado la excelencia en el<br>
                    diseño con calidad y funcionalidad que llegan hasta <br>
                    la cima del everest
                </p>
            </section>
    
            <section class="Imagen4">
                <img src="../img/Imagenmov4.jpg" width="1100" height="500" alt="">
                <p class="TextoImg4">Nos atrevemos a ser diferentes y siempre diseñamos<br>
                    nuestros productos pensando en su durabilidad
                </p>
            </section>
        </ul>
    </section>
    
    <section class="SeccionAcercade">
        <article class="Texto1">
            
            <h1>Quienes Somos</h1>
            <p>
                Fundada en Suiza en 1851, Bally es una de las marcas de lujo más antiguas del mundo.
                Nos consideramos arquitectos de la piel, y estamos orgullosos de ello. Combinamos nuestro ADN 
                de expertos zapateros ynuestro legado artesanal con una estética marcadamente contemporánea.<br><br>
                En enero de 2022, Bally dio la bienvenida a Rhuigi Villaseñor como director creativo.
                Rhuigi, nacido en Manila, fundó Rhude, de la que también es director ejecutivo y director creativo, en 2015. 
                Presentará su primera colección para Bally en la temporada primavera-verano 2023.
            </p>
            <img src="../img/Imagen5.jpg"alt="">
        </article>
        
        <article class="Texto2">
            <h1>Historia</h1>
        <p>
            Nuestra historia comienza a mediados del siglo XIX,<br>
            cuando nuestro fundador, Carl Franz Bally, convierte la<br> 
            fábrica familiar de lazos de Schönenwerd en una marca<br>
            mundial pionera gracias a la industrialización de sus<br>
            procesos (1854), el desarrollo de infraestructuras y<br>
            servicios diversos para apoyar a sus empleados y la<br>
            apertura de tiendas desde Montevideo (1870) hasta París<br>
            (1879).
        </p>
        <img src="../img/Imagen6.jpg" alt="">
        </article>
    </section>

    <footer>

        <section class="ContenedorTotal">

            <section class="ContenedorInfo1">

                <div class="Colum1">
           <h1>Redes Sociales</h1>

           <div class="row1">
                <a href=""><img src="../img/facebook.png" alt=""></a>
                <p>Siguenos en Facebook</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/twiter.png" alt=""></a>
                <p>Siguenos en Twiter</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/instagram.png" alt=""></a>
                <p>Siguenos en Instagram</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/youtube.png" alt=""></a>
                <p>Siguenos en Youtube</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/pinterest.png" alt=""></a>
                <p>Siguenos en Pinterest</p>
           </div> 
                </div>

                <div class="Colum2">
                    <h1>Información de contacto</h1> 

                    <div class="row2">
                        <img src="../img/telefono.png" alt="">
                        <p>00800 1851 1851</p>
                    </div> 

                    <div class="row2">
                        <img src="../img/mensaje.jpg" alt="">
                        <p>clientservicesEU@bally.ch</p>
                    </div> 
                </div>
            </section>
        </section>
        <section class="ContenedorInfo2">
            <p>© Bally Shoe Factories LTD</p>
        </section>

    </footer>
 
</body>
</html>