<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Deseos</title>
    <link rel="stylesheet" href="../Static/estilo_4.css">
</head>
<body>
    <header>
        <div class="Top1">
            <h1>Interfaz Top primaria</h1>
        </div>    
        <div class="Top2">
            <h2>Interfaz top secundaria</h2>
        </div>
    </header>
    <main class="Main">
        <h1>Principal</h1>
    </main>
    <aside>
        
    </aside>
    <footer>
        <div class="Below">
            <h3>Reglamentos etc</h3>
        </div>
    </footer>    
</body>
</html>