<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" type="text/css" href="../Static/EstiloVentanaIngresoAdministradores.css">
</head>
<body>
    <h1>BALLY</h1>
    <form action="">
        <p>ID Usuario:<br>
            <input type="tel">
        </p>
        <p>Contraseña:<br>
            <input type="password"><br><br>
            <input type="checkbox" onclick="">Ver Contraseña<br>
        </p>
        <button type="submit" value="Enviar">Ingresar</button><br><br>
        <a href="">¿Olvidaste tu Contraseña?</a>
    </form>
</body>
</html>