<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/Bally-logo2.ico">
    <link rel="stylesheet" href="../Static/EstiloVistaSeccionProductosH.css">
    <title>Calzado,Bolsos y Prêt-à-porter para Hombre</title>
</head>
<body>
    <nav class="navegacion">
        <ul>
            <li id="Inicio">
                <a href=""><img src="../Static/imgs/Bally-logo.jpg" width="130" height="30"></a>
            </li>
            
            <li id="Buscador">
                <input type="text" placeholder="Buscar" required>
                <div class="boton">
                    <img src="../Static/imgs/Buscador.png" width="20" height="20">
                </div>
            </li>

            <li id="Mujeres"><a href="">MUJERES</a>
                <ul class="OpcionesM">
                    <li><a href="">ZAPATOS</a></li>
                    <li><a href="">BOLSOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PRÊT-À-PORTER</a></li>
                </ul>     
            </li>

            <li id="Hombres"><a href="">HOMBRES</a>
                <ul class="OpcionesH">
                    <li><a href="">ZAPATOS</a></li>
                    <li><a href="">BOLSOS</a></li>
                    <li><a href="">ACCESORIOS</a></li>
                    <li><a href="">PRÊT-À-PORTER</a></li>
                </ul>   
            </li>

            <li id="Usuario">
                <a href=""><img src="../Static/imgs/Usuario.png" width="20" height="20"></a>
            </li>
            <li id="Administracion">
                <a href=""><img src="../Static/imgs/Administrador.png" width="20" height="20"></a>
            </li>
        </ul>
    </nav>

    <h1 class="TituloPrincipal">Productos para Hombres</h1>

    <section class="SeccionProductos">
        <ul>
            <section class="Imagenproducto1">
                <p class="Textoproducto1">Zapatos</p>
                <a href=""><img src="../Static/imgs/ZapatosH.jpg" width="" height="" alt=""></a>
            </section>
    
            <section class="Imagenproducto2">
                <p class="Textoproducto2">Bolsos</p>
                <a href=""><img src="../Static/imgs/BolsosH.jpg" width="" height="" alt=""></a>
            </section>
    
            <section class="Imagenproducto3">
                <p class="Textoproducto3">Prêt-à-porter</p>
                <a href=""><img src="../Static/imgs/RopaH.jpg" width="" height="" alt=""></a>
            </section>
    </section>

    <footer>
        <section class="ContenedorTotal">

            <section class="ContenedorInfo1">

                <div class="Colum1">
           <h1>Redes Sociales</h1>

           <div class="row1">
                <a href=""><img src="../img/facebook.png" alt=""></a>
                <p>Siguenos en Facebook</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/twiter.png" alt=""></a>
                <p>Siguenos en Twiter</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/instagram.png" alt=""></a>
                <p>Siguenos en Instagram</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/youtube.png" alt=""></a>
                <p>Siguenos en Youtube</p>
           </div> 

           <div class="row1">
                <a href=""><img src="../img/pinterest.png" alt=""></a>
                <p>Siguenos en Pinterest</p>
           </div> 
                </div>

                <div class="Colum2">
                    <h1>Información de contacto</h1> 

                    <div class="row2">
                        <img src="../img/telefono.png" alt="">
                        <p>00800 1851 1851</p>
                    </div> 

                    <div class="row2">
                        <img src="../img/mensaje.jpg" alt="">
                        <p>clientservicesEU@bally.ch</p>
                    </div> 
                </div>
            </section>
        </section>
        <section class="ContenedorInfo2">
            <p>© Bally Shoe Factories LTD</p>
        </section>
    </footer>
</body>
</html>